@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form action="/" method="post">
    <input type="text" name="name" value="" />
    <input type="text" name="name" value="" />
</form>

